<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_05_DataGridView.Properties.Settings.MyDBConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=MyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_05_DataGridView.Properties.Settings.mydbConnectionString1"
            connectionString="Data Source=swnote-pc\sqlexpress;Initial Catalog=mydb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="_05_DataGridView.Properties.Settings.mydbConnectionString2"
            connectionString="Data Source=swnote-pc\sqlexpress;Initial Catalog=mydb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>