<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_17_CustomerApp.Properties.Settings.mydbConnectionString"
            connectionString="Data Source=swnote-pc\sqlexpress;Initial Catalog=mydb;User ID=sa;Password=tpxnfl8598"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>